:root {
  --maincolor: #DB0F0F;
  --accentcolor: #647271;
  --hovercolor: white;
  --altbackground: url("Images/darkened-background.png");
  --btn_image: url("Images/switchbutton.png");
  --btn_hover_image: url("Images/glowbutton.png");
}

#gallery1 {
  margin: 0px 25px;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 250px;
  grid-template-rows: repeat(2, 250px);
  width: 95%;
  gap: 15px;
  overflow-x: auto;
  overflow-y: hidden;
  animation: fadeIn 0.5s ease-in-out;
}
#gallery1 img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 250px;
  width: 100%;
}
#gallery1.active {
  display: none;
}

#gallery2 {
  display: flex;
  width: 100%;
  animation: fadeIn 0.5s ease-in-out;
}
#gallery2.active {
  display: none;
}
#gallery2 #frame {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  overflow-x: auto;
  overflow-y: hidden;
  margin: 0px 50px;
  gap: 50px;
}

#card {
  display: flex;
  flex-direction: column;
  gap: 15px;
  color: white;
  font-size: medium;
  text-decoration: none;
}
#card img {
  width: 100%;
  height: 50vh;
  -o-object-fit: fill;
     object-fit: fill;
}
#card:hover {
  color: var(--);
}

#gallery3 {
  display: flex;
  -moz-column-count: 2;
       column-count: 2;
  gap: 50px;
  animation: fadeIn 0.5s ease-in-out;
}
#gallery3.active {
  display: none;
}

#altgallery1 {
  display: flex;
  padding: 0px 25px;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
  animation: fadeIn 0.5s ease-in-out;
}
#altgallery1.active {
  display: none;
}

#altgallery2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 15px;
  animation: fadeIn 0.5s ease-in-out;
}
#altgallery2 img {
  width: 250px;
  height: 250px;
}
#altgallery2 p {
  font-size: 25px;
}
#altgallery2.active {
  display: none;
}

#altgallery3 {
  display: flex;
  padding: 0px 25px;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
  animation: fadeIn 0.5s ease-in-out;
}
#altgallery3.active {
  display: none;
}

#textbox3 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
}
#textbox3 div {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
#textbox3 a {
  width: auto;
  text-align: center;
  border-radius: 15px;
  background-color: var(--maincolor);
  padding: 15px;
  font-weight: bold;
  text-decoration: none;
  color: white;
}
#textbox3 a:hover {
  background-color: white;
  color: var(--maincolor);
}

#card2 {
  display: flex;
  flex-direction: row;
}
#card2 img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 400px;
  width: 400px;
}

#buttons2 button {
  white-space: nowrap;
  color: white;
  border: 2px solid white;
  border-radius: 15px;
  padding: 10px 35px;
  width: 200px;
  text-align: center;
  background-color: 1;
}
#buttons2 button:hover {
  font-weight: bold;
  border: 3px solid white;
}

#gallerybtn1.active {
  background-color: var(--maincolor);
  font-weight: bold;
  border: none;
}

#gallerybtn2.active {
  background-color: var(--maincolor);
  font-weight: bold;
  border: none;
}

#gallerybtn3.active {
  background-color: var(--maincolor);
  font-weight: bold;
  border: none;
}/*# sourceMappingURL=gallery.css.map */