// ***--------------------------------[ MEDIA QUERY CSS ]-----------------------------------***

// ":root" defines global CSS variables throughout the document.
:root { 
    // [ COLOR VARIABLES ]
    --maincolor: #DB0F0F;
    --accentcolor: #647271;
    --hovercolor: white;

    // [ BUTTON IMAGES ]
    --btn_image: url(Images/switchbutton.png);
    --btn_hover_image: url(Images/glowbutton.png);
}
